<mat-toolbar class="flex justify-between">
  <a routerLink="/" class="page-logo" >MyBlog</a>
  <div class="wrapper">
    <button mat-icon-button [matMenuTriggerFor]="menu" >
      <mat-icon  style="margin-right: 10px" matBadge="2" matBadgeColor="warn">notifications</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>You have got a message from <i>JohnyB</i></button>
      <button mat-menu-item><i>BruceW</i> added new post</button>
    </mat-menu>
    <a routerLink="/blog" mat-stroked-button color="warn">Blog</a>
    <a routerLink="/login" mat-stroked-button color="warn">Login</a>
    <a routerLink="/admin/blog" mat-stroked-button color="warn">Admin</a>
  </div>


</mat-toolbar>

<router-outlet>
