<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>JavaScript new features</mat-card-title>
    <mat-card-subtitle>Do you know that?</mat-card-subtitle>
    <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
  </mat-card-title-group>
  <mat-card-content>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dolorum eos est, fuga id nobis rerum tenetur vitae. Animi expedita incidunt iusto odit optio perspiciatis possimus quas reiciendis tempora voluptatibus.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aliquam commodi consequatur consequuntur culpa earum est in minus necessitatibus nulla numquam quam qui, quibusdam rem repellendus sed, tempore tenetur voluptate.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aliquam commodi consequatur consequuntur culpa earum est in minus necessitatibus nulla numquam quam qui, quibusdam rem repellendus sed, tempore tenetur voluptate.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aliquam commodi consequatur consequuntur culpa earum est in minus necessitatibus nulla numquam quam qui, quibusdam rem repellendus sed, tempore tenetur voluptate.
  </mat-card-content>
  <mat-chip-list >
    <mat-chip color="warn" selected>
      JavaScript
    </mat-chip>
    <mat-chip color="warn" selected>
      Programming
    </mat-chip>
    <mat-chip color="warn" selected>
      CSS
    </mat-chip>
  </mat-chip-list>
</mat-card>
